---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../css/testimonial.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/lvb7hqu.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Allerta&display=swap"
      rel="stylesheet"
    />
    <!-- Montserrat -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />

    <title>Astro</title>
  </head>
  <body>
    <header>
      <Header />
    </header>
    <main>
      <div class="form">
        <h1>Tak for din bedømmelse</h1>
        <img id="bog" src="svg/book.svg" alt="Notesbog" />
      </div>
    </main>
  </body>
  <footer>
    <Footer />
  </footer>
</html>
