---
import "../css/generel.css";
import "../css/booking.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Favicon from "../components/Favicon.astro";
import TilTop from "../components/TilTop.astro";
import Nyhed_card from "../components/Nyhed_card.astro";
import Picnic_card from "../components/Picnic_card.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="book dit bord her" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- <meta name="robots" content="noindex" /> -->
    <title>No Deux' book dit bord</title>
    <Favicon />
    <!-- Concert One -->
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Varela+Round&display=swap" rel="stylesheet" />
    <!-- Allerta -->
    <link href="https://fonts.googleapis.com/css2?family=Allerta&display=swap" rel="stylesheet" />

    <!-- Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet" />
  </head>

  <body>
    <Header />
    <main>
      <TilTop />
      <div class="indhold">
        <div class="booking">
          <h2>Vælg bordtype eller event her</h2>
          <p>Tak fordi du overvejer No Deux som din destination for en hyggelig aften. Vi ser frem til at byde dig velkommen med åbne arme.</p>
        </div>
        <div class="booking_tilbud">
          <Nyhed_card image="/webp/bord_reservation.webp" alt="Reservation" headline="Reservation" text="Book dit bord her til en hyggelig aften hos No Deux." knap="BOOK DIT BORD" />
          <Nyhed_card
            image="/webp/window_seat.webp"
            alt="nyd udsigten ud over det travle københavn fra vores vindues pladser"
            headline="Ved Vinduet"
            text="Book et bord på vores dejlige højbord i vinduet, med udsigt til det travle København."
            knap="BOOK DIT BORD"
          />
          <Nyhed_card
            image="/webp/latenight1.webp"
            alt="sen aften reservation"
            headline="Sen aften"
            text="Book en sen reservation og få et særlig tilbud, hvor du får et glas champagne, hovedret & dessert. Det hele koster kun 245,-"
            knap="BOOK DIT BORD"
          />
        </div>
        <div class="event_booking">
          <Picnic_card
            image="/webp/vinsmagning_card.webp"
            alt="Vinsmagning"
            headline="Vinsmagning"
            pris="250,-"
            text="Kom til vinsmagning i vores hyggelige bistro. Vores vin connoisseur vil byde på både rødt, hvidt og moserende, ledsaget af lækre oste og kiks fra køkkenet."
            knap="BESTIL NU"
          />
          <Picnic_card
            image="/webp/picnic_card.webp"
            alt="picnic"
            headline="Favorit Kurv"
            pris="700,-"
            text="Farvorit kurven er en samlet pakke med lækre klassiske favorit retter. Denne kurv er for to personer og indebærer to forretter, to hovedretter og en dele dessert. Dertil et ostebord og en valgfri vin."
            knap="BESTIL NU"
          />
          <Picnic_card
            image="/webp/mystery_picnic.webp"
            alt="picnic"
            headline="Mystery Kurv"
            pris="250,-"
            text="Mystery kurven er til dig der godt kan lide at blive overrasket. Hver måltidsoverraskelse er nøje udvalgt og er sammensat af friske råvarer og spændende smagsoplevelser."
            knap="BESTIL NU"
          />
        </div>
      </div>
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
