/*********** RESET ***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*********** FONT ***********/
.fonts {
  font-family: "Allerta", sans-serif;
  font-family: "brandon-grotesque", sans-serif;
  /*font-family: "Montserrat", sans-serif;*/
}

/*********** STYLE ***********/
/* der skal ikke være generel margin, sætter den bare lige på her til at starte med for at lege med dimentionerne*/
main {
  max-width: 1200px;
  margin-inline: auto;
}

body {
  background-color: var(--background_light);
  color: var(--blue);
  font-family: "Allerta", sans-serif;
}

/*********** COLORS ***********/
:root {
  --background_light: #f4f3ef;
  --background_dark: #cac6bc;
  --blue: #13429a;
  /*--orange: #E76345;*/
}

/*********** TEXT ***********/
p {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.3rem;
}
h2 {
  font-family: "Allerta", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
}
