---
import "../css/generel.css";
import "../css/index.css";
import "../css/testimonial.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";
import Nyhed_card from "../components/Nyhed_card.astro";
import Testimonials from "../components/Testimonials.astro";
import Favicon from "../components/Favicon.astro";
import TilTop from "../components/TilTop.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Oplev essensen af fransk bistro-spisning på No Deux, hvor udsøgte smage og en varm stemning mødes. Forkæl dig selv med autentisk fransk mad lavet med lidenskab og ekspertise. Vi  byder på et lækkert udvalg af retter, der hylder Frankrigs rige kulinariske arv. Oplev kunsten at smage vin med vores omhyggeligt sammensatte udvalg af franske årgange, der perfekt komplementerer dit måltid. Og for et charmerende twist, nyd vores eksklusive picnic muligheder. Fordyb dig i essensen af ​​Frankrig på No Deux - din ultimative destination for en mindeværdig kulinarisk rejse."
    />
    <!-- <meta name="robots" content="noindex" /> -->
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Favicon />
    <link rel="stylesheet" href="https://use.typekit.net/lvb7hqu.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="font" />
    <link
      href="https://fonts.googleapis.com/css2?family=Allerta&display=swap"
      rel="stylesheet"
    />
    <!-- Montserrat -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />

    <title>No Deux - fransk bistro</title>
  </head>
  <body>
    <Header />
    <main>
      <TilTop />
      <div class="hero">
        <video autoplay muted loop>
          <source
            src="https://matildemona.dk/kea/eksamen/hero_kort.webm"
            type="video/webm"
          />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="om_nodeux">
        <figure class="blad_right">
          <img src="/svg/blad.svg" alt="blad" />
        </figure>
        <figure class="om_nodeux_b1">
          <img src="/webp/egg.webp" alt="spejlæg" />
        </figure>
        <div class="hvad_er_nodeux">
          <h2>Lækker fransk mad og vin, i hyggelige omgivelser</h2>
          <p>
            Hos Bistro No Deux serverer vi lækre franske retter med nøje
            udvalgte vine. Man får nemt fornemmelsen af at sidde på en rigtig
            fransk bistro i Paris. Konceptet er inspireret af restaurantens
            beliggenhed og derfor kaldes No Deux også en “vintage” bistro.
          </p>
          <div>
            <Button text="Book Bord" href="/booking" />
          </div>
        </div>
        <figure class="om_nodeux_b2">
          <img src="/webp/moulesfrites.webp" alt="matilde" />
        </figure>
        <div class="fransk_menu">
          <h2>Fransk Menu</h2>
          <div class="fransk_menu_text">
            <p>
              Menuen er fransk, til dels bestemt af årstiden. Der serveres,
              bl.a. klassisk Moules frites og Tartare sammen med lækker fransk
              vin.
            </p>
            <p>
              Indretningen af restauranten er fransk landstil med gamle
              vinkasser og køkkenudstyr; alt sammen medvirkende til at skabe en
              hyggelig atmosfære.
            </p>
            <p>
              Om sommeren, i godt vejr, er der mulighed for at sidde udenfor og
              når vi går koldere dage i møde, rykker vi den gode stemning med
              indenfor.
            </p>
            <p>
              Vi vil gøre vores bedste for at jeres besøg i Bistro No deux
              bliver en god og hyggelig oplevelse.
            </p>
          </div>
          <div>
            <Button text="Vores Menu" href="/menu" />
          </div>
        </div>
        <figure class="bestik">
          <img src="/svg/kniv_gaffel.svg" alt="bestik" />
        </figure>
        <figure class="blad_left">
          <img src="/svg/blad.svg" alt="blad" />
        </figure>
      </div>
      <div class="nyheder">
        <div class="nyheder_titel">
          <h2>Nyheder</h2>
          <figure class="nyheder_boenne">
            <img src="/svg/bønnespirre.svg" alt="bønnespirre" />
          </figure>
        </div>
        <p>
          Kom og prøv vores vinsmagning eller tag en picnickurv med i parken. <br
          /> Som noget nyt tilbyder vi hyggelige arrangementer, som du kan dele med
          venner, familie eller gøre solo.
        </p>
        <div class="nyheder_card_row">
          <Nyhed_card
            image="/webp/vinsmagning_card.webp"
            alt="vinsmagning"
            headline="Vinsmagning"
            text="Kom til vinsmagning i vores hyggelige bistro. Vores vin connoisseur vil byde på både rødt, hvidt og moserende, ledsaget af lækre oste og kiks fra køkkenet."
            href="/vin"
            knap="LÆS MERE"
          />
          <Nyhed_card
            image="/webp/picnic_card.webp"
            alt="picnic"
            headline="Picnic"
            text="Vi pakker en picnic kurv med de lækreste franske oste og godter. Det eneste du skal gøre, er at tage en ven i hånden og hente den færdigpakkede kurv, inden i finder jer er skønt sted i solen, til at nyder forfriskningerne."
            href="/picnic"
            knap="LÆS MERE"
          />
        </div>
      </div>
      <div class="slideshow-container">
        <Testimonials />
        <img src="svg/left.svg" class="prev" alt="Venstre pil" />
        <img src="svg/right.svg" class="next" alt="Højre pil" />
      </div>
      <div class="bedøm">
        <p>Har du også noget på hjertet?</p>
        <Button text="BEDØM NU" href="/testimonial" />
      </div>
      <div class="some">
        <div class="some_titel">
          <h2>Følg os på instagram</h2>
          <figure class="some_boenne">
            <img src="/svg/bønnespirre2.svg" alt="bønnespirre" />
          </figure>
        </div>
        <div class="some_opslag">
          <img src="/webp/instagram_post_navn.webp" alt="pladsholder" />
          <img src="/webp/instagram_post_drinks.webp" alt="pladsholder" />
        </div>
      </div>
    </main>
    <Footer />
    <script src="../js/testimonials.js"></script>
    <script
      src="https://kit.fontawesome.com/cefafbdb36.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
