---
import "../css/generel.css";
import "../css/event.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Event from "../components/Event.astro";
import NyhedCard from "../components/Nyhed_card.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />
    <title>Picnic</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Allerta&display=swap" rel="stylesheet" />
  </head>

  <body>
    <Header />
    <main>
      <Event
        image="/webp/picnic_card.webp"
        alt="picnic"
        headline="Picnic"
        text="Nyd en autentisk fransk oplevelse udendørs med vores lækre standard picnic pakke. Vi har nøje udvalgt franske delikatesser til dig, så du kan slappe af og nyde det bedste af det franske køkken under åben himmel. Vores picnic pakke er fyldt med friskbagt brød, saftige oste, velsmagende charcuteri og en række delikate patéer. Du kan også forkæle dig selv med vores udvalg af friske salater og frugter, der er perfekte til en sommerdag. Bestil nu og tag en bid af Frankrig med dig til ud i parken."
        image2="/svg/picnic.svg"
      />

      <div class="nyheder_card">
        <NyhedCard
          image="/webp/picnic_card.webp"
          alt="picnic"
          headline="Favorit Kurv"
          text="Farvorit kurven er en samlet pakke med lækre klassiske favorit retter. Denne kurv er for to personer og indebærer to forretter, to hovedretter og en dele dessert. Dertil et ostebord og en valgfri vin."
          href="#"
          knap="BESTIL NU"
        />
        <NyhedCard
          image="/webp/picnic_card.webp"
          alt="picnic"
          headline="Mystery Kurv"
          text="Mystery kurven er til dig der godt kan lide at blive overrasket. Hver måltidsoverraskelse er nøje udvalgt og er sammensat af friske råvarer og spændende smagsoplevelser."
          href="#"
          knap="BESTIL NU"
        />
      </div>
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
