---
import "../css/generel.css";
import "../css/event.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Event from "../components/Event.astro";
import Favicon from "../components/Favicon.astro";
import Picnic_card from "../components/Picnic_card.astro";
import TilTop from "../components/TilTop.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Oplev den perfekte sommerløsning med No Deux's dejlige picnic-tilbud. Forkæl dig selv med vores autentiske franske picnic kurv, som er kyndigt forberedt til dine udendørs eller hjemlige eskapader. Vores hyggelige take-away-løsning giver nem, god mad, der indrammer essensen af ​​fransk gastronomi. Nyd lækre retter midt i naturens skønhed eller i hjemmets trygge rammer. Vores picnic-oplevelse er idel til sommeren og kombinerer charmen ved en fransk bistro med bekvemmeligheden ved en afslappet, hyggelig picnic. Oplev glæden ved en afslappet og lækker picnic kruv fra No Deux."
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- <meta name="robots" content="noindex" /> -->
    <title>No Deux' picnic</title>
    <Favicon />
    <link rel="preload" as="font" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Allerta&display=swap" rel="stylesheet" />
  </head>

  <body>
    <Header />
    <main>
      <TilTop />

      <Event
        variant="picnic"
        image="/webp/picnic-main.webp"
        alt="picnic"
        alt2="picnic kurv"
        headline="Picnic"
        text="Nyd en autentisk fransk oplevelse udendørs med vores lækre standard picnic pakke. Vi har nøje udvalgt franske delikatesser til dig, så du kan slappe af og nyde det bedste af det franske køkken under åben himmel. Vores picnic pakke er fyldt med friskbagt brød, saftige oste, velsmagende charcuteri og en række delikate patéer. Du kan også forkæle dig selv med vores udvalg af friske salater og frugter, der er perfekte til en sommerdag. Bestil nu og tag en bid af Frankrig med dig til ud i parken."
        image2="/svg/picnic.svg"
      />

      <div class="nyheder_card">
        <Picnic_card
          image="/webp/picnic_card.webp"
          alt="picnic"
          headline="Favorit Kurv"
          pris="700,-"
          text="Farvorit kurven er en samlet pakke med lækre klassiske favorit retter. Denne kurv er for to personer og indebærer to forretter, to hovedretter og en dele dessert. Dertil et ostebord og en valgfri vin."
          knap="BESTIL NU"
        />
        <Picnic_card
          image="/webp/mystery_picnic.webp"
          alt="picnic"
          headline="Mystery Kurv"
          pris="250,-"
          text="Mystery kurven er til dig der godt kan lide at blive overrasket. Hver måltidsoverraskelse er nøje udvalgt og er sammensat af friske råvarer og spændende smagsoplevelser."
          knap="BESTIL NU"
        />
      </div>
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
