---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Favicon from "../components/Favicon.astro";
import "../css/testimonial.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Favicon />
    <link rel="stylesheet" href="https://use.typekit.net/lvb7hqu.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Allerta&display=swap"
      rel="stylesheet"
    />
    <!-- Montserrat -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />

    <title>Din bedømmelse</title>
  </head>
  <body>
    <header>
      <Header />
    </header>
    <main>
      <img class="img" id="pynt" src="svg/blad.svg" alt="Blad" />
      <div class="form">
        <img class="img" id="bog" src="svg/book.svg" alt="Notesbog" />
        <h1 id="testimonialh1">Skriv en bedømmelse af dit besøg hos No Deux</h1>
        <form>
          <input
            placeholder="Dit navn*"
            id="navn"
            name="name"
            type="text"
            required
          />

          <textarea
            placeholder="
    Skriv din bedømmelse her. 
    Hvad synes du om maden, stemningen osv.*"
            id="long"
            name="long"
            rows="6"
            required></textarea>
          <div class="rating">
            <input
              id="star1"
              name="star"
              type="radio"
              value="1"
              class="radio-btn hide"
            />
            <label for="star1"><i class="fa-regular fa-star"></i></label>
            <input
              id="star2"
              name="star"
              type="radio"
              value="2"
              class="radio-btn hide"
            />
            <label for="star2"><i class="fa-regular fa-star"></i></label>
            <input
              id="star3"
              name="star"
              type="radio"
              value="3"
              class="radio-btn hide"
            />
            <label for="star3"><i class="fa-regular fa-star"></i></label>
            <input
              id="star4"
              name="star"
              type="radio"
              value="4"
              class="radio-btn hide"
            />
            <label for="star4"><i class="fa-regular fa-star"></i></label>
            <input
              id="star5"
              name="star"
              type="radio"
              value="5"
              class="radio-btn hide"
            />
            <label for="star5"><i class="fa-regular fa-star"></i></label>
            <div class="clear"></div>
          </div>
          <button type="submit">Indsend bedømmelse</button>
        </form>
      </div>
      <div class="grid_1-1">
        <img class="img" id="pynt2" src="svg/blad.svg" alt="Blad" />
        <img class="img" id="sol" src="svg/solen.svg" alt="Sol" />
      </div>
    </main>
    <footer>
      <Footer />
    </footer>
    <script src="../js/submit.js"></script>
    <script
      src="https://kit.fontawesome.com/cefafbdb36.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
