---
import "../css/generel.css";
import "../css/event.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Event from "../components/Event.astro";
import Vin_icon from "../components/Vin_icon.astro";
import Favicon from "../components/Favicon.astro";
import TilTop from "../components/TilTop.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Tag på en udsøgt fransk vinsmagningsrejse med No Deuxs fortryllende 'Vin smagnings'-oplevelse. Fordyb dig i ​​vores hyggelige bistroatmosfære, mens du nyder et dejligt udvalg af franske vine, som er omhyggeligt udvalgt for at behage din gane. Forkæl dig selv med de rige smag og aromaer, der definerer essensen af ​​fransk vinkultur, dygtigt parret med vores lækre køkken. Oplev kunsten at værdsætte vin i en atmosfære, der udstråler varme og charme. Slut dig til No Deux for et uforglemmeligt vinsmagningseventyr i hjertet af fransk gastronomi."
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- <meta name="robots" content="noindex" /> -->
    <title>No Deux' vinsmagning</title>
    <Favicon />
    <link rel="preload" as="font" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Allerta&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <Header />
    <main>
      <TilTop />

      <Event
        variant="vin"
        image="/webp/vinsmagning.webp"
        alt="vinsmagning"
        alt2="vinglas"
        headline="Vinsmagning"
        text="Vinsmagning hos No Deux er for alle der elsker vin, eller gerne vil overbevise deres venner om, at vin er det bedste. Vi har vores egen vin-connoisseur og dækker op med både ost og kiks under eventet, som varer i 2 timer. Vi tilbyder en blandet pakke med 6 glas, 2 glas rødvin, 1 glas rosé, 2 glas hvidvin og 1 glas mousserende vin."
        image2="/svg/glas.svg"
        pris="250.-"
      />
      <Vin_icon />
    </main>
    <Footer />
  </body>
</html>
