---
import "../pages/generel.css";
import Button from "../components/Button.astro";
---

<div class="vin_grid">
  <img class="img_mand" src="public/img/vinsmagning.jpg" alt="kniv og gafler" />
  <div class="h_box">
    <img src="public/svg/glas.svg" alt="vin smagning" />

    <h1>Vinsmagning</h1>
    <p>
      Vinsmagning hos No Deux er for alle der elsker vin, eller gerne vil overbevise deres venner om, at vin er det bedste. Vi har vores egen vin-connoisseur og dækker op med både ost og kiks under eventet, som varer i 2 timer. <br />Vi tilbyder en
      blandet pakke med 6 glas, 2 glas rødvin, 1 glas rosé, 2 glas hvidvin og 1 glas mousserende vin.
    </p>
    <Button text="BESTIL NU" href="#" />
  </div>
</div>

<style>
  .vin_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-inline: 40px;
  }
  .h_box {
    padding: 40px;
  }

  .img_mand {
    border-radius: 40px;
  }
</style>
