---
import "../pages/generel.css";
import Button from "../components/Button.astro";
---

<div class="first_grid">
  <img class="img_mand" src="public/webp/vinsmagning.webp" alt="kniv og gafler" />
  <div class="text_box">
    <img class="img_vin" src="public/svg/glas.svg" alt="vin smagning" />
    <h1>Vinsmagning</h1>
    <h2>250,-</h2>
    <p>Vinsmagning hos No Deux er for alle der elsker vin, eller gerne vil overbevise deres venner om, at vin er det bedste. Vi har vores egen vin-connoisseur og dækker op med både ost og kiks under eventet, som varer i 2 timer.</p>
    <p>Vi tilbyder en blandet pakke med 6 glas, 2 glas rødvin, 1 glas rosé, 2 glas hvidvin og 1 glas mousserende vin.</p>
    <Button text="BESTIL NU" />
  </div>
</div>
<style>
  .img_mand {
    border-radius: 40px;
  }
  .img_vin {
    margin-top: 10px;
    height: 40vw;
  }
  .first_grid {
    gap: 30px;
    margin-inline: 40px;
  }

  .text_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .text_box:last-child {
    align-items: center;
  }

  @media (min-width: 750px) {
    .first_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .first_grid:first-child {
      align-items: center;
    }
    .text_box {
      padding: 40px;
      align-items: flex-start;
    }

    .img_vin {
      height: 20vw;
    }
  }
</style>
