---
import "../pages/generel.css";
---

<header>
  <div class="header_indhold">
    <a href="/"><img id="logo" src="public/svg/nodeux_logo.svg" alt="No Deux Logo" /></a>
    <nav>
      <ul>
        <li><a class="a_underline" href="#">Menu</a></li>
        <li><a class="a_underline" href="#">Booking</a></li>
        <div class="dropcontainer">
          <li><a class="a_underline dropbtn" href="#">Events</a></li>
          <ul class="dropcontent">
            <li><a href="#">Vinsmagning</a></li>
            <li><a href="#">Picnic Kurv</a></li>
          </ul>
        </div>
        <li><a class="a_underline" href="#">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header_indhold {
    padding: 30px;
    display: flex;
    align-items: center;
  }
  .nav_underline {
    width: 10%;
    margin-top: -30px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  header {
    padding: 10px 20px 0px 20px;
    position: relative;
  }
  ul {
    display: flex;
    gap: 80px;
    justify-content: end;
  }
  li {
    list-style: none;
  }
  #logo,
  nav {
    flex: 1;
  }
  #logo {
    width: 80%;
  }
  a {
    text-decoration: none;
    color: var(--blue);
    font-size: 1.5rem;
  }
  .a_underline:hover {
    position: relative;
  }
  .a_underline:hover:after {
    content: url(svg/placeholder_line.svg);
    display: block;
    position: absolute;
    left: -30px;
    top: -20px;
  }
  /*********** DROP DOWN ***********/
  /* The container <div> - needed to position the dropdown content */
  .dropcontainer {
    position: relative;
    display: inline-block;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropcontent {
    display: none;
    position: absolute;
    background-color: var(--background_light);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0 0 25px 25px;
    margin-left: -40px;
    margin-top: 20px;
    text-align: center;
  }
  /* Links inside the dropdown */
  .dropcontent a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropcontainer links on hover */
  .dropcontent a:hover {
    text-decoration: underline;
  }

  /* Show the dropcontainer menu on hover */
  .dropcontainer:hover .dropcontent {
    display: block;
  }
</style>
