<div>
  <img src="/webp/vinsmagning_card.webp" alt="vinsmagning" />
  <h3>Vinsmagning</h3>
  <p>Kom til vinsmagning i de kolde vintermåneder, og læg hverdagen bag dig. Vores vin connoisseur vil byde på både rødt, hvidt og moserende, ledsaget af lækre oste og kiks fra køkkenet.</p>
  <!-- <Button/> -->
</div>
