<div id="til_top_knap">
  <a href="#header_indhold">
    <img src="/svg/til_top.svg" alt="gå til toppen knap" />
  </a>
</div>

<style>
  #til_top_knap {
    position: fixed;
    top: 92%;
    left: 87%;
    z-index: 10;
  }

  img {
    width: 65%;
    height: 65%;
  }
  html {
    scroll-behavior: smooth;
  }

  @media (min-width: 1100px) {
    img {
      width: 70%;
      height: 70%;
    }
    #til_top_knap {
      position: fixed;
      top: 90%;
      left: 95%;
      z-index: 10;
    }
  }
</style>
