---
import "../css/generel.css";
---

<div class="icon_grid">
  <div>
    <img class="svg" src="public/svg/vindrue-orange.svg" alt="vindrue klase" />
    <p>
      Druerne er alle fra frankrig og er blandt sorter som Merlot Grenache og
      Ugni Blanc.
    </p>
  </div>
  <div>
    <img class="svg" src="public/svg/lys-orange.svg" alt="et sterinlys" />
    <p>
      Indretning er afdæmpet og rustik, og giver de helt rigtige rammer for en
      hyggelig stund.
    </p>
  </div>
  <div>
    <img class="svg" src="public/svg/vinost-orange.svg" alt="vin og ost" />
    <p>
      Vi serverer 6 glas vin med tilhørende ostebord i en periode på 2 timer.
    </p>
  </div>
  <div>
    <img class="svg" src="public/svg/flaske-orange.svg" alt="en flaske vin" />
    <p>
      Vi importerer selv, så det er ikke nogle vine, man kan finde alle steder.
    </p>
  </div>
</div>
<style>
  .svg {
    margin-block: 10px;
    height: 25vw;
  }
  p {
    text-align: center;
  }

  @media (min-width: 750px) {
    .icon_grid {
      display: flex;
      flex-direction: row;
      gap: 40px;
    }
    .svg {
      height: 15vw;
    }
    p {
      font-weight: 600;
    }
  }
</style>
