.booking_tilbud,
.event_booking {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  gap: 40px;
  margin-block: 5vw;
  align-items: center;
}

.indhold {
  text-align: center;
  margin-inline: auto;
}

@media (min-width: 1200px) {
  .booking_tilbud,
  .event_booking {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    margin-inline: auto;
    margin-top: 50px;
  }
}
