main {
  max-width: 1200px;
  margin-inline: auto;
}
/* ------------- Picnic tilbud---------*/

.nyheder_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  gap: 40px;
  margin-block: 5vw;
}

@media (min-width: 750px) {
  .nyheder_card {
    display: flex;
    flex-direction: row;

    justify-content: center;
    margin-inline: auto;
  }
}
