main {
  display: grid;
}

/* --------- Hero --------- */
.hero {
  grid-row: 1/2;
  margin-bottom: 0;

  text-align: center;

  width: 100%;
  height: auto;

  overflow: hidden;
}
.hero video {
  width: 100%;
  height: 100%;
}

/* --------- Om No Deux --------- */
.om_nodeux {
  grid-row: 2/3;
  margin-top: 0;
  padding: 20px 0px 20px 0px;

  display: grid;
  grid-template-columns: 0.3fr 3fr 0.03fr;
  /* grid-template-rows: 0.2fr 0.5fr 0.5fr 0.8fr 1fr 0.8fr 0.2fr 0.2fr; */
  grid-template-rows: 0.07fr 0.07fr 0.2fr 0.6fr 0.4fr 0.8fr 0.2fr 0.07fr;
  gap: 10px;

  background-color: var(--background_dark);
  overflow: hidden;
}
.om_nodeux h2 {
  text-align: center;
}

figure.blad_right {
  grid-column: 3/4;
  grid-row: 1/3;

  width: 70px;
  align-self: start;
  margin: -10px 0px 0px -20px;
}
.blad_right img {
  transform: rotate(-50deg);
  width: 100%;
  /* margin: -10px 0px 0px -20px; */
}

.hvad_er_nodeux {
  grid-column: 2/3;
  grid-row: 4/5;

  display: grid;
  grid-template-rows: 0.15fr 0.8fr 0.15fr;
  gap: 15px;
  align-self: center;
}

figure.om_nodeux_b1 {
  grid-column: 2/3;
  grid-row: 2/4;

  overflow: hidden;
  border-radius: 40px;
}
.om_nodeux_b1 img {
  aspect-ratio: 567/451;
  border-radius: 40px;
  height: 100%;
  width: 100%;
}

figure.om_nodeux_b2 {
  grid-column: 2/3;
  grid-row: 5/6;
}
.om_nodeux_b2 img {
  aspect-ratio: 470/578;
  border-radius: 40px;
  margin-top: 20px;
  height: 100%;
  width: 100%;
}

.om_nodeux div:last-child {
  margin-top: 20px;
  justify-self: center;
}

.fransk_menu {
  grid-column: 2/3;
  grid-row: 6/8;

  display: grid;
  grid-template-rows: 0.08fr 1.5fr 0.15fr;
  gap: 20px;
  align-self: center;
}

.fransk_menu_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fransk_menu div:last-child {
  margin-top: 20px;
  justify-content: center;
}

figure.bestik {
  display: none;
}

figure.blad_left {
  grid-column: 1/3;
  grid-row: 7/9;

  width: 70px;
  align-self: end;
  margin: 15px 10px -10px 0px;
}
.blad_left img {
  transform: rotate(130deg);
  width: 100%;
}

/* --------- Nyheder --------- */

.nyheder {
  grid-row: 3/4;
  padding: 40px 0px;

  max-width: 300px;
  margin: auto;
  text-align: center;
}
.nyheder p {
  margin: 10px 0px 20px 0px;
}
.nyheder_boenne {
  display: none;
}

.nyheder_card_row {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-self: center;
}

/* --------- SoMe --------- */

.some {
  grid-row: 6/7;
  padding-top: 40px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.08fr 1.5fr;
  gap: 10px;
  justify-content: center;

  max-width: 300px;
  margin: auto;
  margin-bottom: 25px;
}

.some_titel {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.some h2 {
  margin-bottom: 20px;
}

.some_boenne {
  display: none;
}

.some_opslag {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.some_opslag img {
  border-radius: 40px;
}

/* ----------pc---------- */

@media (min-width: 1200px) {
  /* --------- Hero --------- */
  .hero {
    grid-row: 1/2;

    text-align: center;

    margin-bottom: 0;

    width: 100%;
    height: auto;

    overflow: hidden;
  }
  .hero video {
    width: 100%;
    height: 100%;
  }
  /* --------- Om No Deux --------- */
  .om_nodeux {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 0.5fr 0.5fr 3fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr 2fr 1fr 0.5fr;

    padding: 80px;
  }
  .om_nodeux h2 {
    text-align: left;
  }

  figure.blad_right {
    grid-column: 8/9;
    grid-row: 1/3;

    width: 120px;
    align-self: start;
  }
  .blad_right img {
    transform: rotate(-45deg);
    width: 100%;
    /* margin: 0px 0px 0px -20px; */
  }

  .hvad_er_nodeux {
    grid-column: 2/4;
    grid-row: 2/4;

    display: grid;
    grid-template-rows: 0.2fr 0.8fr 0.5fr;
    gap: 20px;
    align-self: center;
  }

  figure.om_nodeux_b1 {
    grid-column: 5/8;
    grid-row: 2/4;
    overflow: hidden;
    border-radius: 40px;
  }
  .om_nodeux_b1 img {
    border-radius: 40px;
  }

  figure.om_nodeux_b2 {
    grid-column: 2/4;
    grid-row: 5/7;
    overflow: hidden;
    border-radius: 40px;
  }

  .om_nodeux div:last-child {
    margin-top: 20px;
    justify-self: left;
  }

  .fransk_menu {
    grid-column: 5/7;
    grid-row: 5/7;

    display: grid;
    grid-template-rows: 0.08fr 1.5fr 0.3fr;
    gap: 20px;
    align-self: center;
  }

  .fransk_menu_text {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .fransk_menu div:last-child {
    margin-top: 20px;
    justify-self: left;
  }

  figure.bestik {
    display: block;
    grid-column: 7/9;
    grid-row: 5/7;

    width: 130px;
    justify-self: center;
    align-self: center;
  }

  figure.blad_left {
    grid-column: 1/3;
    grid-row: 6/8;

    width: 120px;
    align-self: start;
  }
  .blad_left img {
    transform: rotate(130deg);
    width: 100%;
    /* margin: 0px 0px 20px 20px; */
  }

  /* --------- Nyheder --------- */

  .nyheder {
    grid-row: 3/4;

    display: grid;
    text-align: center;
    gap: 20px;

    max-width: 1200px;
    margin: auto;
  }

  .nyheder_titel {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    grid-template-rows: 0.2fr 0.1fr;
    justify-items: center;
    margin-left: 10%;
  }

  .nyheder h2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .nyheder_boenne {
    display: block;
    grid-column: 1/3;
    grid-row: 1/3;
    width: 16%;
    margin-top: 0.2%;
  }
  .nyheder_boenne img {
    width: 100%;
  }

  .nyheder_card_row {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-self: center;
  }

  /* --------- SoMe --------- */

  .some {
    grid-row: 6/7;

    display: grid;
    gap: 40px;
    justify-content: center;

    max-width: 1200px;
    margin: auto;
  }

  .some_titel {
    display: grid;
    grid-template-columns: 2.5fr 0.7fr;
    grid-template-rows: 0.2fr 0.1fr;
    justify-items: center;
    margin-left: 20%;
  }

  .some h2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .some_boenne {
    display: block;
    grid-column: 1/3;
    grid-row: 1/3;
    width: 30%;
  }
  .some_boenne img {
    width: 100%;
  }

  .some_opslag {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }
  .some_opslag img {
    border-radius: 40px;
    width: 400px;
    height: auto;
  }
}
@media (min-width: 1400px) {
  figure.blad_right {
    grid-column: 8/9;
    grid-row: 1/3;

    width: 120px;
    align-self: start;
  }
  .blad_right img {
    transform: rotate(-45deg);
    width: 100%;
    /* margin: 0px 0px 0px -20px; */
  }
  figure.blad_left {
    grid-column: 1/3;
    grid-row: 6/8;

    width: 120px;
    align-self: center;
  }
  .blad_left img {
    transform: rotate(130deg);
    width: 100%;
    margin: 15px 0px 0px 25px;
  }
}
